.SecondView {
  @include alignTop();
  height: 100%;

  &__content {
    height: 88%;
    width: 100%;
    padding: 2rem 3rem;
    @include alignTop();
    align-items: flex-start;
    justify-content: space-around;

    //All inputs (passwords and clue)
    & input {
      height: 5rem;

      color: $secondary-color;
      outline: none;
      padding: 1rem;
      border-radius: 8px;
      border: 2px solid $grey-transparent;
      transition: all 0.3s;
      border-bottom: 3px solid $grey-transparent;

      &:focus {
        border: 2px solid $secondary-color;

        &:invalid,
        &.error {
          border-bottom: 3px solid $primary-color;
        }

        &.valid {
          border-bottom: 3px solid $green;
        }
      }

      &::placeholder {
        font-size: 1.8rem;
        letter-spacing: normal;
      }
    }

    &--passwords {
      @include center();
      justify-content: space-between;
      align-items: center;
      width: 65%;
      margin: 2rem auto;

      @include respond(tab-land) {
        width: 75%;
      }

      @include respond(tab-port) {
        width: 80%;
      }

      //For both Main and Reat passwords
      & > div {
        height: 15rem;
        @include alignTop();
        align-items: flex-start;
        justify-content: space-around;

        &.repeat-password {
          justify-content: flex-end;
          & > * {
            margin-bottom: 0.5rem;
          }
        }

        & input {
          letter-spacing: 5px;
          font-size: 2.5rem;
          width: 30rem;
        }

        & p {
          transition: all 0.3s;
        }
      }
    }

    //For the (optional) quote
    & .optional {
      margin-left: 10rem;

      & .info {
        font-style: normal;
        font-weight: bold;
        position: relative;

        &:hover {
          &::after {
            content: 'Puedes dejar una pista para recordar la contraseña, algo que solamente tu puedas entender';
            position: absolute;
            background-color: rgb(216, 216, 216);
            color: $black;
            font-size: 12px;
            font-weight: normal;
            padding: 0.5rem;
            border-radius: 5px;
            width: 45rem;
            top: -5px;
            left: 20px;
          }
        }
      }
    }

    //Clue input
    & .clue {
      width: 90%;
      margin: 0 auto;
      letter-spacing: 2px;
      font-size: 1.6rem;

      &:focus {
        border-bottom: 3px solid $secondary-color;
      }
    }

    //Only buttons
    &--bottom {
      @include center();
      justify-content: space-between;
      width: 100%;
      margin-left: auto;

      & button {
        position: relative;

        //Displays a small message on diabled button
        &:disabled:hover {
          &::after {
            position: absolute;
            content: 'Crea tu Contraseña Maestra primero';
            background-color: rgb(216, 216, 216);
            color: $black;
            padding: 0.5rem;
            font-size: 12px;
            top: 0;
            right: 110%;
            width: fit-content;
          }
        }
      }
    }
  }
}
