.header {
  color: $black;
  background: radial-gradient(
    240.01% 165.3% at 50% 50%,
    $white 25.68%,
    $black 55%
  );
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include respond(phone) {
    height: 10%;
  }

  & .logo {
    width: 50rem;
    padding-left: 5rem;

    @include respond(tab-port) {
      padding-left: 2.5rem;
    }

    @include respond(phone) {
      width: 35rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .title-huge {
    padding-right: 13rem; //without languages dropdown
    padding-right: 0;
    font-style: normal;
    font-weight: normal;

    @include respond(tab-land) {
      padding-right: 5rem;
    }

    @include respond(tab-port) {
      text-align: right;
    }

    @include respond(phone) {
      padding-right: 3rem;
    }
  }
}
