//Variables
$primary-color: #ff0049;
$primary-color-dark: #97002b;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;
$grey: #6e6e6e;
$grey-transparent: #6e6e6e7e;
$gold: #b47700;
$green: #00bf1f;
