@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/base';
@import 'styles/typography.scss';
@import 'styles/components/Header.scss';
@import 'styles/components/Steps.scss';
@import 'styles/components/Button.scss';
@import 'styles/views/FirstView.scss';
@import 'styles/views/SecondView.scss';
@import 'styles/views/ThirdView.scss';

.App {
  height: 100vh;
  background: radial-gradient(
    86.87% 86.87% at 50% 50%,
    $secondary-color 56.93%,
    $black 100%
  );
  @include alignTop();

  &__main {
    margin: 2rem;
    background-color: $white;
    width: 90%;
    height: 85%;
  }
}
